---
const { type = "text", title = "", name = "", description = "", placeholder = "您的回答", required = false } = Astro.props;
---

<label for={name} class={required ? "required" : ""}>{title}</label>
{description && <p>{description}</p>}
<input type={type} name={name} required={required} placeholder={placeholder} id={name} />

<style>
	label {
		font-weight: 600;
		font-size: 1rem;
		display: block;
		margin-bottom: 0.4rem;
	}
	p {
		font-size: 0.875rem;
		line-height: 133%;
		margin-bottom: 0.8rem;
		padding-left: 0.1rem;
		color: var(--gray);
	}

	input {
		border-radius: 0.75rem;
		border: 1px solid #86868b;
		padding: 0.5rem 1rem;
		margin-bottom: 1.6rem;
		width: 100%;
		max-width: 23rem;
	}

	.required::after {
		color: #f00;
		content: " *";
	}
</style>
