---
const { t } = Astro.props;
import Arrow from "@assets/img/cycle/arrow.svg";
import Hungry from "@assets/img/cycle/Hungry.svg";
import CycleImg from "@assets/img/cycle/Cycle.svg";
import mobileCycle from "@assets/img/cycle/mobileCycle.svg";
---

<section id="cycle">
	<div class="title">
    <h2 class="aos aos-fadeIn"><span>{t.title}</span>{t.title2}</h2>
    <picture>
      <source srcset={mobileCycle.src} media="(max-width: 50rem)" />
      <img src={CycleImg.src} alt="Cycle" id="cycle-img" />
    </picture>
		<!-- mobile Text -->
		<div class="mobileCycleText">
      <h3 class="emfont-XiaoLai">{t.mobileCycleText.title1}</h3>
      <p>{t.mobileCycleText.desc1}</p>
      <h3 class="emfont-XiaoLai">{t.mobileCycleText.title2}</h3>
      <p>{t.mobileCycleText.desc2}</p>
      <h3 class="emfont-XiaoLai">{t.mobileCycleText.title3}</h3>
      <p>{t.mobileCycleText.desc3}</p>
		</div>

		<p class="slogan">
    {t.slogan1}</br>{t.slogan2}
		</p>
	</div>
	<div class="sdgs">
		<div class="sdgs-item">
      <img src={Hungry.src} alt="Hungry">
			<div class="sdgs-text">
        <h4>{t.sdgs.title1}</h4>
        <p>{t.sdgs.desc1}</p>
			</div>
		</div>

		<div class="sdgs-item init">
      <img src={Hungry.src} alt="Hungry">
			<div class="sdgs-text">
        <h4>{t.sdgs.title2}</h4>
        <p>{t.sdgs.desc2}</p>
			</div>
		</div>

		<div class="sdgs-item">
      <img src={Hungry.src} alt="Hungry">
			<div class="sdgs-text">
        <h4>{t.sdgs.title3}</h4>
        <p>{t.sdgs.desc3}</p>
			</div>
		</div>

		<div class="sdgs-item">
      <img src={Hungry.src} alt="Hungry">
			<div class="sdgs-text">
        <h4>{t.sdgs.title4}</h4>
        <p>{t.sdgs.desc4}</p>
			</div>
		</div>
	</div>
</section>

<style define:vars={{ arrowURL: `url(${Arrow.src})` }}>
	section {
		padding: 2rem;
	}

	#cycle-img {
		display: block;
		margin: auto;
	}
	.mobileCycleText {
		display: none;
		max-width: 35rem;
		margin: auto;
		padding: 2rem;
	}

	span {
		display: block;
	}
	h3::before {
		content: "";
		display: inline-block;
		width: 0.9em;
		height: 0.9em;
		background: var(--arrowURL) no-repeat center;
		background-size: contain;
		margin-right: 0.5rem;
	}

	h3 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	p {
		margin-bottom: 1rem;
	}

	.slogan {
		text-align: center;
		margin-bottom: 3rem;
	}

	.sdgs {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;
		margin-bottom: 12rem;
		position: relative;
	}

	.sdgs-item {
		cursor: pointer;
	}

	.sdgs-item img {
		width: 8rem;
		transition: transform 0.3s ease;
	}

	.sdgs:has(.sdgs-item:hover) .init img,
	.sdgs:has(.sdgs-item:active) .init img {
		transform: none;
	}

	.sdgs:has(.sdgs-item:hover) .sdgs-item:hover img,
	.init img,
	.sdgs:has(.sdgs-item:hover) .sdgs-item:active img {
		transform: scale(1.1);
	}

	.sdgs-text {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		width: 28rem;
		max-width: 100%;
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.4s ease,
			visibility 0.4s ease;
		pointer-events: none;
		margin-top: 1.5rem;
	}

	h4 {
		font-size: 1.3rem;
		margin-bottom: 0.5rem;
	}

	.sdgs:has(.sdgs-item:hover) .init .sdgs-text,
	.sdgs:has(.sdgs-item:active) .init .sdgs-text {
		opacity: 0;
		visibility: hidden;
	}

	.init .sdgs-text,
	.sdgs:has(.sdgs-item:hover) .sdgs-item:hover .sdgs-text,
	.sdgs:has(.sdgs-item:hover) .sdgs-item:active .sdgs-text {
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: 50rem) {
		#cycle-img {
			width: 70%;
			height: auto;
		}

		.mobileCycleText {
			display: block;
		}
	}

	@media (max-width: 40rem) {
		.sdgs img {
			width: 5rem;
		}
	}
</style>
