---
import facebook from "@assets/img/social/facebook.svg";
import flickr from "@assets/img/social/flickr.svg";
import instagram from "@assets/img/social/instagram.svg";
import telegram from "@assets/img/social/telegram.svg";
import twitter from "@assets/img/social/twitter.svg";
import youtube from "@assets/img/social/youtube.svg";
import plurk from "@assets/img/social/plurk.svg";
import qrcode from "@assets/img/qrcode.webp";
const { t } = Astro.props;
---

<footer class="footer">
	<div class="footer-container">
		<div class="collaboration-section">
			<div>
				<h2 class="collaboration-title">{t.collaboration}</h2>
				<p>{t.description}</p>
				<p class="qrcode-text">{t.scan_qrcode}</p>
			</div>
			<img src={qrcode.src} alt="QR Code" class="qrcode" />
		</div>

		<div class="footer-content">
			<div class="footer-left">
				<div class="contact-section">
					<h3>{t.contact}</h3>
					<p>
						<a href="mailto:contact@sitcon.org" class="contact-email">contact@sitcon.org</a><br />
						<span set:html={t.contact_list.join("<br>")} />
					</p>
				</div>
				<div>
					<h3>{t.contact_us}</h3>
					<p>
						{t.contact_us_description}
						<a href="mailto:contact@sitcon.org" class="contact-email">contact@sitcon.org</a><br />{t.contact_us_description2}
						<a href="mailto:ask@sitcon.org" class="contact-email">ask@sitcon.org</a>
					</p>
				</div>
				<div class="conference-title">學生計算機年會<br />Students' Information Technology Conference</div>
			</div>

			<div class="footer-right">
				<div class="social-section">
					<h3>Social Media</h3>
					<div class="social-icons">
						<a href="https://sitcon.org/fb" class="social-icon" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
							<img src={facebook.src} alt="Facebook" />
						</a>
						<a href="https://sitcon.org/ig" class="social-icon" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
							<img src={instagram.src} alt="Instagram" />
						</a>
						<a href="https://sitcon.org/flickr" class="social-icon" aria-label="Flickr" target="_blank" rel="noopener noreferrer">
							<img src={flickr.src} alt="Flickr" />
						</a>
						<a href="https://sitcon.org/tg" class="social-icon" aria-label="Telegram" target="_blank" rel="noopener noreferrer">
							<img src={telegram.src} alt="Telegram" />
						</a>
						<a href="https://sitcon.org/x" class="social-icon" aria-label="Twitter" target="_blank" rel="noopener noreferrer">
							<img src={twitter.src} alt="Twitter" />
						</a>
						<a href="https://sitcon.org/yt" class="social-icon" aria-label="YouTube" target="_blank" rel="noopener noreferrer">
							<img src={youtube.src} alt="YouTube" />
						</a>
						<a href="https://sitcon.org/plurk" class="social-icon" aria-label="Plurk" target="_blank" rel="noopener noreferrer">
							<img src={plurk.src} alt="Plurk" />
						</a>
					</div>
				</div>

				<div class="past-websites">
					<h3>{t.past_websites}</h3>
					<div class="years-grid">
						{
							Array.from({ length: Math.floor(Number(Date.now()) / 31556952000) - 42 }, (_, index) => index + 2013).map(year => (
								<a href={`https://sitcon.org/${year}`} target="_blank" class="year-link">
									{year}
								</a>
							))
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<style>
	.footer {
		background-color: #f5f5f5;
	}

	p {
		line-height: 2;
		max-width: 51rem;
	}

	a {
		color: inherit;
		transition: color 0.3s ease-out;
		text-decoration: none;
	}

	a:hover {
		color: #0171e3;
	}

	h3 {
		font-size: 1.3rem;
		color: #000;
		margin-bottom: 0.5rem;
	}

	.footer-container {
		max-width: 1200px;
		margin: auto;
		padding: 4rem 2rem 3rem;
	}

	.collaboration-section {
		margin-bottom: 3rem;
	}

	.collaboration-title {
		font-size: 2.5rem;
		font-weight: bold;
		color: #000;
		margin: 0 0 20px 0;
		display: inline-block;
	}

	.footer-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 60px;
		align-items: start;
	}

	.footer-left {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.contact-section {
		margin-bottom: 20px;
	}

	.conference-title {
		font-size: 1.2rem;
		font-weight: bold;
		letter-spacing: 2.1px;
		margin-bottom: 1rem;
	}

	.footer-right {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.social-section {
		margin-bottom: 20px;
	}

	.social-icons {
		margin-top: 0.5rem;
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
	}

	.social-icon {
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #424242;
		text-decoration: none;
		transition:
			transform 0.3s ease,
			filter 0.3s ease;
	}

	.social-icon:hover {
		transform: scale(1.1);
		filter: brightness(1.2);
	}

	.years-grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 0.5rem;
		letter-spacing: 0.5px;
	}

	.year-link {
		text-decoration: none;
		color: #333;
		font-size: 0.9rem;
	}

	@media screen and (max-width: 48rem) {
		.footer-content {
			grid-template-columns: 1fr;
			gap: 2rem;
		}

		.collaboration-title {
			font-size: 2rem;
		}

		.years-grid {
			grid-template-columns: repeat(4, 1fr);
		}

		.social-icons {
			justify-content: center;
		}

		.faq-question {
			font-size: 1.3rem;
		}
	}

	@media screen and (max-width: 30rem) {
		.footer {
			padding: 2rem 0 30px;
		}

		.collaboration-title {
			font-size: 1.8rem;
		}

		.years-grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media screen {
		.qrcode,
		.qrcode-text {
			display: none;
		}
	}

	@media print {
		footer {
			break-inside: avoid;
		}

		.collaboration-section {
			display: flex;
			gap: 16pt;
			justify-content: space-between;
		}

		.qrcode,
		.qrcode-text {
			display: block;
		}

		.qrcode {
			height: 80pt;
		}

		.conference-title {
			margin-top: 150pt;
		}
	}
</style>
