---
import upper from "@assets/img/sponsor_upper.svg";
import lower from "@assets/img/sponsor_lower.svg";

const { t } = Astro.props;
---

<section id="sponsors">
	<div class="sponsors-container">
		<div class="marquee-container">
			<div class="marquee-track">
				<img src={upper.src} alt="SITCON 2026 Sponsors - Upper Row" class="sponsor-image" />
				<img src={upper.src} alt="SITCON 2026 Sponsors - Upper Row" class="sponsor-image" />
				<img src={upper.src} alt="SITCON 2026 Sponsors - Upper Row" class="sponsor-image" />
			</div>
		</div>
		<h2 class="sponsors-title aos aos-fadeIn">
			{t.inline.map((line: string) => <span>{line}</span>)}
		</h2>
		<div class="marquee-container">
			<div class="marquee-track lower-marquee">
				<img src={lower.src} alt="SITCON 2026 Sponsors - Lower Row" class="sponsor-image" />
				<img src={lower.src} alt="SITCON 2026 Sponsors - Lower Row" class="sponsor-image" />
				<img src={lower.src} alt="SITCON 2026 Sponsors - Lower Row" class="sponsor-image" />
			</div>
		</div>
	</div>
</section>

<style>
	section {
		padding: 4rem 0;
		background-color: var(--white);
		overflow: hidden;
	}

	.sponsors-container {
		width: 100%;
		text-align: center;
	}

	.sponsors-title {
		font-size: 2.5rem;
		margin: 3rem auto;
		padding: 0 2rem;
	}

	.sponsors-title span {
		display: block;
	}

	.marquee-container {
		width: 100%;
		overflow: hidden;
		opacity: 0.3;
		margin: 2rem 0;
	}

	.marquee-track {
		display: flex;
		animation: marquee 30s linear infinite;
		width: max-content;
		margin: 0 auto;
	}

	.lower-marquee {
		animation-direction: reverse;
	}

	.sponsor-image {
		height: 240px;
		width: auto;
		display: block;
		flex-shrink: 0;
	}

	@keyframes marquee {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-33.33%);
		}
	}

	@media (max-width: 55rem) {
		.sponsors-title span {
			display: inline;
		}
		section {
			padding: 2rem 0;
		}

		.marquee-container {
			margin: 1.5rem 0;
		}

		.sponsor-image {
			height: 200px;
			margin-right: 2rem;
		}

		.marquee-track {
			animation-duration: 20s;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		.marquee-track {
			animation: none;
		}
	}
</style>
