---
const { t } = Astro.props;
import Popup from "@components/Popup.astro";
import r0 from "@assets/img/r0.webp";
import volunteer from "@assets/img/sitcon-volunteer.webp";
import { ChevronDown } from "@lucide/astro";

const teams = t.teams;

const formatted = Object.entries(t.timeline_items).map(([date, text]) => {
	return { date, text };
});

interface PlaceItem {
	code: string;
	name: string;
	description: string;
}

interface TeamItem {
	title: string;
	name: string;
	school: string;
	major: string;
}
---

<section id="time">
	<div class="time-container">
		<div>
			<h2>{t.title1}<br />{t.title2}</h2>
			<p>{t.date}</p>
			<p>{t.location}</p>
		</div>
		<img src={volunteer.src} alt="志工" class="volunteer-img" />
	</div>
	<div class="aos spacer"></div>
	<Popup btnText={t.popup_label} title={t.popup_label} hero={true} id="place-staff-popup" background={r0.src}>
		<div class="info-container">
			<h3>{t.activity_schedule}</h3>
			<div class="timeline">
				{
					formatted.map(({ date, text }) => (
						<div>
							<span class="date">{date}</span> {text}
						</div>
					))
				}
				<div class="line"><div class="circle"></div><ChevronDown size={38} /></div>
			</div>
			<h3>{t.place_detail}</h3>
			<div class="location">
				<div class="location-name" set:html={t.location_name} />
				<div class="location-info">{t.max_people}<div>{t.people_count_unit}</div></div>
			</div>
		</div>

		<div class="venue-container">
			{
				t.place_items.map((item: PlaceItem) => (
					<div class="venue">
						<div class="venue-text-container">
							<div class="venue-text">
								<h4>
									{item.code && <div>{item.code}</div>}
									{item.name}
								</h4>
								<p>{item.description}</p>
							</div>
						</div>
						<img src={`/2026/cfs/venue/${item.code}.webp`} alt={item.name} />
					</div>
				))
			}
		</div>
		<div class="info-container">
			<h3>{t.team}</h3>
			<div class="team-container">
				{
					teams.map((item: TeamItem) => (
						<div class="team">
							<strong>
								{item.title}
								<br />
								{item.name}
							</strong>
							{item.school}
							<br />
							{item.major}
						</div>
					))
				}
			</div>
		</div>
	</Popup>
</section>

<style define:vars={{ backgroundUrl: `url(${volunteer.src})` }}>
	#time {
		min-height: 100svh;
		background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), var(--backgroundUrl);
		background-size: cover;
		padding: 20svh 2rem 2rem;
		display: flex;
		flex-direction: column;
	}

	.time-container {
		width: 100%;
		max-width: 60rem;
		margin: 0 auto;
		color: #fff;
	}

	h2 {
		text-align: left;
	}

	.spacer {
		flex: 1;
	}

	/* popup */

	.info-container {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
		break-inside: avoid;
	}

	h3 {
		font-size: 2.5rem;
		width: 100%;
	}

	h3 {
		max-width: 50rem;
		margin-block: 1rem;
	}

	.timeline {
		white-space: pre;
		line-height: 2;
		font-size: 1.6rem;
		font-weight: bold;
		position: relative;
		--left: 7rem;
		padding-left: var(--left);
		display: flex;
		flex-direction: column;
		max-width: 100%;
		overflow-x: auto;
	}

	@media screen and (max-width: 36rem) {
		.timeline {
			--left: 4rem;
		}
	}

	.line {
		position: absolute;
		left: calc(var(--left) / 2 - 1.5px);
		top: 1ch;
		bottom: 1ch;
		width: 3px;
		background-color: var(--black);
		color: var(--black);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.circle {
		width: 16px;
		aspect-ratio: 1;
		background-color: var(--black);
		border-radius: 50%;
	}

	.lucide-chevron-down {
		transform: translateY(42%);
	}

	.timeline span.date {
		font-family: "firacode", monospace;
		display: inline-block;
		width: 12ch;
		text-align: left;
	}

	.location {
		background-color: var(--gray-container);
		padding: 2rem 4rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
		border-radius: 1rem;
	}

	.location-name {
		font-size: 1.6rem;
		font-weight: bold;
	}

	.location-info {
		text-align: center;
	}

	.location-info div {
		font-size: 2rem;
		font-weight: bold;
	}

	.venue {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		break-inside: avoid;
	}

	.venue-container .venue:nth-child(even) {
		flex-direction: row-reverse;
	}

	.venue-text-container {
		padding: 2rem;
		flex: 1;
	}

	.venue-text h4 {
		font-size: 1.8rem;
	}

	.venue-text p {
		white-space: pre-line;
		color: var(--gray);
	}

	.venue-text {
		max-width: 20rem;
		margin: auto;
	}

	.venue img {
		height: 20rem;
		object-fit: cover;
		background-color: var(--gray-container);
		border-radius: 1.5rem 0 0 1.5rem;
		min-width: 0;
		flex: 1;
	}

	.venue-container .venue:nth-child(even) img {
		border-radius: 0 1.5rem 1.5rem 0;
	}

	.team-container {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
		gap: 2rem;
		text-align: center;
		width: min(100%, 50rem);
		line-height: 2;
	}

	strong {
		display: block;
	}

	.volunteer-img {
		display: none;
	}

	@media screen and (max-width: 42rem) {
		.venue {
			display: block;
		}

		.venue img,
		.venue-container .venue:nth-child(even) img {
			border-radius: 1.5rem;
			margin: 0 2rem;
			display: block;
			height: 10rem;
			width: calc(100% - 4rem);
		}
		.venue-text {
			max-width: unset;
		}

		.venue-text-container {
			padding: 2rem 2rem 1rem;
		}
	}

	@media print {
		#time {
			padding: 0;
			min-height: unset;
			background: none;
		}

		.time-container {
			margin-block: 40pt;
			color: inherit;
			display: flex;
			align-items: stretch;
		}

		.time-container > div,
		.volunteer-img {
			flex: 1;
		}
		.time-container > div {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		h3 {
			font-size: 20pt;
			margin-block: 10pt;
		}

		.volunteer-img {
			width: 0;
			height: 100%;
			object-fit: cover;
			display: block;
			border-radius: 25px;
		}

		.venue img {
			height: 180pt;
		}

		#time :global(.popup-hero) {
			display: none;
		}

		.venue-container {
			padding-top: 30pt;
		}
	}
</style>
